@font-face{
    font-family: HappyTime;
    src:url(../Fonts/HappyTime.otf)
}

#buttons{
    background-color: #7FB069;
    font-family: HappyTime;
}

#inputFields{
    background-color: #ECE4B7;
}

#form{
    padding: 20px;
}
